* {
    font-family: 'Roboto' , sans-serif;
    background-color: white;
    color: white;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
    margin: 0;
    padding: 0;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    background-color: rgb(39, 39, 68);
}

.header {
    display: flex;
    height: 48px;
    justify-content: space-evenly;
    background-color: rgb(39, 39, 68);
    padding: 20px;
    align-items: center;
}

.logo-title {
    background-color: rgb(39, 39, 68);
    color: white;
    font-size: 32px;   
}

.logo  {
    display: flex;
    align-items: center;
    height: 48px;
    gap: 16px;
    color: white;
    font-weight: bold;
    background-color: rgb(39, 39, 68);
}

.hero {
    display: flex;
    height: 500px;
    padding: 150px;
    justify-content: center;
    background-color: rgb(39, 39, 68);
}

.hero-text {
    padding-right: 50px;
    width: 500px;
    background-color: rgb(39, 39, 68);
}

.hero-image {
    border-radius: 8px;
    height: 500px;
    background-color: rgb(39, 39, 68);
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 48px;
    font-weight:bolder;
    background-color: rgb(39, 39, 68);
}

.logo-img {
    height: 48px;
    width: 48px;
    background-color: rgb(39, 39, 68);
}

.hero-p {
    margin-top: 4px;
    background-color: rgb(39, 39, 68);
}

.hero-button {
    border-radius: 8px;
    background-color: white;
    color: rgb(30, 55, 109);
    font-size: 20px;
    padding: 4px;
    padding-right: 12px;
    padding-left: 12px;
    border-style: none;
}

.thumbnails {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
    padding-bottom: 240px;
}

.thumbnail-images {
    display: flex;
    height: 500px;
    justify-content: space-between;
    background-color: white !important;
    gap: 24px;
}

.thumbnail-image{
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 16px;
    background-color: white !important;
}

.thumbnail-text {
    color: black;
    background-color: white !important;
    font-size: 24px;
    flex-wrap: wrap;
}

.a-thumbnail {
    background-color: white;
}

.image {
    background-color: white !important;
}

.thumbnail-1 {
    display: flex;
    flex-direction: column;
    background-color: white !important;
    text-align: center;
    max-width: 300px;
}

.thumbnail-title {    
    background-color: white !important;
    color: black;
    font-size: 48px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
    background-color: rgb(182, 182, 182);
    justify-content: center;
}

.quote-text {
    font-size: 48px;
    font-style: italic;
    width: 900px;
    margin-bottom: 0;
    color: #252323;
    background-color: rgb(182, 182, 182);
}

.quote-name {
    font-size: 32px;
    margin-top: 20px;
    align-self: flex-end;
    width: 740px;
    color: #252323;
    background-color: rgb(182, 182, 182);
}

.button-section {
    display: flex;
    padding: 100px;
    padding-right: 180px;
    padding-left: 180px;
    gap: 200px;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 350px;
    margin-right: 350px;
    background-color: rgb(45, 89, 185);
    border-radius: 16px;
    justify-content: center;
}

.buttonsection-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(45, 89, 185);
}

.buttonsection-h2 {
    background-color: rgb(45, 89, 185);
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.buttonsection-p {
    background-color: rgb(45, 89, 185);
    color: white;
    font-size: 24px;
}

.button {
    background-color: rgb(45, 89, 185);
    color: white;
    font-size: 28px;
    border-radius: 8px;
    padding: 4px;
    padding-right: 24px;
    padding-left: 24px;
    border-style: solid;
    border-color: white;
}

.a-button {
    background-color: rgb(45, 89, 185);
}

.footer {
    background-color: rgb(39, 39, 68);
}

.p-footer {
    background-color: rgb(39, 39, 68);
    color: white;
    font-size: 28px;
    text-align: center;
    padding: 20px;
}